<template>
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.jsdelivr.net/npm/geovisio@develop/build/index.css"
  />
  <main class="entry-page">
    <section id="viewer" class="entry-viewer">
      <div v-if="mapIsLoaded" class="entry-report-button">
        <Button
          :text="$t('pages.home.report_button_text')"
          look="button--black"
          @trigger="triggerMailto"
        />
      </div>
    </section>
  </main>
</template>

<script lang="ts" setup>
import { useI18n } from 'vue-i18n'
import { onMounted, computed, ref } from 'vue'
import Button from '@/components/Button.vue'
import { fetchMapAndViewer } from '@/utils/mapAndViewer'
import { getPicId } from '@/utils/image'

const { t } = useI18n()
let mapIsLoaded = ref<boolean>(false)
const mailtoPath = computed<string>(() => {
  return `mailto:signalement.ign@panoramax.fr?subject=${t(
    'pages.home.report_mail_subject',
    {
      id: getPicId()
    }
  )}&body=${t('pages.home.report_mail_body', {
    id: getPicId(),
    link: encodeURIComponent(window.location.href)
  })}`
})

function triggerMailto(): void {
  window.location.href = mailtoPath.value
}

onMounted(async () => {
  try {
    await fetchMapAndViewer()
    mapIsLoaded.value = true
  } catch (err) {
    console.log(err)
  }
})
</script>
<style scoped>
.entry-page {
  display: flex;
}
.entry-viewer {
  width: 100vw;
  position: relative;
  min-height: calc(100vh - 8rem);
}
.gvs-has-map .entry-report-button {
  display: block;
  position: absolute;
  right: 1rem;
  top: 2rem;
  z-index: 1;
}
.gvs-focus-map .entry-report-button {
  display: none;
}
@media (max-width: 500px) {
  .entry-page {
    padding-top: 11rem;
    overflow: hidden;
  }
  @supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
    .entry-viewer {
      min-height: -webkit-fill-available;
      min-height: moz-available;
      min-height: fill-available;
    }
  }
  @supports not (-webkit-touch-callout: none) {
    /* CSS for other than iOS devices */
    .entry-viewer {
      min-height: calc(100vh - 17rem);
    }
  }
}
</style>
