<template>
  <main class="entry-page">
    <iframe :src="myAccountUrl" class="iframe"></iframe>
  </main>
</template>

<script setup lang="ts">
import { computed } from 'vue'

const myAccountUrl = computed<string>(
  () => `${import.meta.env.VITE_API_URL}oauth/realms/geovisio/account`
)
</script>

<style scoped>
.entry-page {
  padding-right: 4rem;
  padding-left: 8rem;
}
.iframe {
  width: 100%;
  min-height: calc(100vh - 9rem);
}

@media (max-width: 848px) {
  .entry-page {
    padding-top: 4rem;
  }
}
@media (max-width: 768px) {
  .entry-page {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media (max-width: 500px) {
  .entry-page {
    padding-top: 14rem;
  }
}
</style>
