<template>
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.jsdelivr.net/npm/geovisio@develop/build/index.css"
  />
  <main :class="['entry-page', { 'menu-is-open': menuIsOpen }]">
    <div class="button-close">
      <Button
        look="no-text"
        :icon="menuIsOpen ? 'bi bi-chevron-right' : 'bi bi-chevron-left'"
        @trigger="menuIsOpen = !menuIsOpen"
      />
    </div>
    <section id="viewer" class="entry-viewer"></section>
    <div v-if="sequence && !isLoading" class="menu-right">
      <div class="menu-top" ref="collapseMenu">
        <div class="header-menu">
          <button
            data-bs-target="#collapseTarget"
            data-bs-toggle="collapse"
            class="button-collapse"
            @click="toggleMenu"
          >
            <span :class="[sequence.status, 'sequence-status']">{{
              sequenceStatus
            }}</span>
            <h1 class="title">
              {{ sequence.title }}
            </h1>
            <i :class="headerPanelIsOpen ? 'bi bi-dash' : 'bi bi-plus'"></i>
          </button>
          <div class="wrapper-button">
            <div class="disable-button">
              <Button
                :tooltip="$t('pages.sequence.hide_sequence_tooltip')"
                :text="
                  sequence.status === 'ready'
                    ? $t('pages.sequence.button_disable')
                    : $t('pages.sequence.button_enable')
                "
                look="button--white"
                :icon="
                  sequence.status === 'ready' ? 'bi bi-eye-slash' : 'bi bi-eye'
                "
                @trigger="patchCollection"
              />
            </div>
            <Button
              :tooltip="$t('pages.sequence.delete_sequence_tooltip')"
              :text="$t('pages.sequence.button_delete')"
              look="button--red"
              icon="bi bi-trash"
              @trigger="deleteCollection"
            />
          </div>
        </div>
        <div
          :class="[sequence.status, 'collapse py-2 show']"
          id="collapseTarget"
        >
          <div class="block-collapse">
            <div class="wrapper-info-top">
              <span v-if="sequence.created"
                >{{ $t('pages.sequence.created') }}
                {{ formatDate(new Date(sequence.created), 'Do MMMM YY') }}</span
              >
              <span v-if="sequence.duration"
                >{{ $t('pages.sequence.duration') }}
                {{ sequence.duration }}</span
              >
              <span v-if="sequence.taken"
                >{{ $t('pages.sequence.taken') }}
                {{ formatDate(sequence.taken, 'Do MMMM YY') }}</span
              >
            </div>
            <div class="wrapper-info-top">
              <span v-if="sequence.extent.temporal.interval[0][0]"
                >{{ $t('pages.sequence.duration_begin') }}
                {{
                  formatDate(
                    sequence.extent.temporal.interval[0][0],
                    'Do MMMM YY, hh:mm:ss'
                  )
                }}</span
              >
              <span v-if="sequence.extent.temporal.interval[0][1]"
                >{{ $t('pages.sequence.duration_end') }}
                {{
                  formatDate(
                    sequence.extent.temporal.interval[0][1],
                    'Do MMMM YY, hh:mm:ss'
                  )
                }}</span
              >
              <span v-if="sequence.camera"
                >{{ $t('pages.sequence.camera') }} {{ sequence.camera }} -
                {{ sequence.cameraModel }}</span
              >
            </div>
          </div>
        </div>
      </div>
      <div v-if="pictures && pictures.length" class="photos-wrapper">
        <div class="delete-all" ref="deleteAll">
          <div class="wrapper-select">
            <InputCheckbox
              :is-checked="pictures.length === picturesToDelete.length"
              :is-indeterminate="isIndeterminate"
              :label="selectedText"
              @trigger="triggerCheck"
            />
            <div v-if="picturesToDelete.length" class="wrapper-photo-selected">
              <span class="photo-selected-separator">-</span>
              <span>{{
                $t('pages.sequence.picture_selected', picturesToDelete.length)
              }}</span>
            </div>
          </div>
          <div class="action-buttons">
            <Button
              look="button--white"
              :icon="
                picturesToDeleteStatus === 'hidden' ||
                imagesSelectedHaveDifferentStatus
                  ? 'bi bi-eye'
                  : 'bi bi-eye-slash'
              "
              :tooltip="$t('pages.sequence.hide_photo_tooltip')"
              :disabled="
                !picturesToDelete.length || sequence.status === 'hidden'
              "
              @trigger="patchOrDeleteCollectionItems('PATCH')"
            />
            <div class="button-hidde">
              <Button
                look="button--red"
                icon="bi bi-trash"
                :tooltip="$t('pages.sequence.delete_photo_tooltip')"
                :disabled="!picturesToDelete.length"
                @trigger="patchOrDeleteCollectionItems('DELETE')"
              />
            </div>
          </div>
        </div>
        <ul class="photo-list">
          <li
            v-for="(item, i) in pictures"
            :id="`photo${i}`"
            class="photo-item"
          >
            <ImageItem
              :href="item.assets.thumb.href"
              :href-hd="item.assets.hd.href"
              :created="formatDate(item.properties.created, 'HH:mm:ss')"
              :selected="photoToDeleteOrPatchSelected(item, picturesToDelete)"
              :selected-on-map="itemSelected === item.id"
              :status="
                imageStatus(item.properties['geovisio:status'], sequence)
              "
              @trigger="selectImageAndMove(item)"
            />
          </li>
          <div class="entry-pagination">
            <Pagination
              v-for="item in paginationLinks"
              :type="item.rel"
              :href="item.href"
              :self-link="selfLink[0]"
              @trigger="goToNextPage"
            />
          </div>
        </ul>
      </div>
      <p v-else class="no-photo">{{ $t('pages.sequence.no_image') }}</p>
      <Toast :text="toastText" :look="toastLook" @trigger="toastText = ''" />
    </div>
    <div v-else class="menu-right wrapper-loader">
      <Loader />
    </div>
  </main>
</template>

<script setup lang="ts">
import { onMounted, ref, watchEffect, computed } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { useI18n } from 'vue-i18n'
import { useSequenceStore } from '@/store/sequence'
import { storeToRefs } from 'pinia'
import Button from '@/components/Button.vue'
import Toast from '@/components/Toast.vue'
import Pagination from '@/components/Pagination.vue'
import InputCheckbox from '@/components/InputCheckbox.vue'
import Loader from '@/components/Loader.vue'
import ImageItem from '@/components/ImageItem.vue'
import { durationCalc, formatDate } from '@/utils/dates'
import {
  deleteACollectionItem,
  patchACollectionItem,
  fetchCollectionItems,
  fetchCollectionItemsWithFullUrl,
  fetchCollection,
  deleteACollection,
  patchACollection
} from '@/views/utils/sequence/request'

import {
  imageStatus,
  scrollIntoSelected,
  photoToDeleteOrPatchSelected,
  spliceIntoChunks,
  formatPaginationItems
} from '@/views/utils/sequence/index'
import { fetchMapAndViewer } from '@/utils/mapAndViewer'
import type {
  ResponseUserPhotoInterface,
  ResponseUserPhotoLinksInterface,
  CheckboxInterface,
  UserSequenceInterface,
  ResponseUserSequenceInterface
} from './interfaces/MySequenceView'

const { t } = useI18n()
const route = useRoute()
const router = useRouter()
const sequenceStore = useSequenceStore()
const { toastText, toastLook } = storeToRefs(sequenceStore)
let sequence = ref<UserSequenceInterface>()
let pictures = ref<ResponseUserPhotoInterface[] | []>([])
let picturesToDelete = ref<string[]>([])
let paginationLinks = ref<ResponseUserPhotoLinksInterface[] | []>([])
let selfLink = ref<ResponseUserPhotoLinksInterface[] | []>([])
let menuIsOpen = ref<boolean>(true)
let headerPanelIsOpen = ref<boolean>(true)
let isShiftPressed = ref<boolean>(false)
let itemSelected = ref<string>('')
let isLoading = ref<boolean>(false)
let viewer = ref()
const collapseMenu = ref<HTMLDivElement>()
const deleteAll = ref<HTMLDivElement>()
const menuHeight = ref<string>()

onMounted(async () => {
  try {
    const fetchAllCollectionInfo = await Promise.all([
      fetchCollection(route.params.id),
      fetchCollectionItems(route.params.id, '?limit=100')
    ])
    selfLink.value = fetchAllCollectionInfo[1].data.links.filter(
      (el) => el.rel === 'self'
    )
    paginationLinks.value = formatPaginationItems(
      fetchAllCollectionInfo[1].data.links
    )
    formatSequenceFetched(fetchAllCollectionInfo[0].data)
    const collectionItems = fetchAllCollectionInfo[1].data.features
    const collectionItemsReady = collectionItems.filter(
      (el) => el.properties['geovisio:status'] === 'ready'
    )
    pictures.value = collectionItems
    viewer.value = await fetchMapAndViewer({
      fetchOptions: {
        credentials: 'include'
      }
    })
    setHeightValue()
    if (itemSelected.value.length || !collectionItemsReady[0]) return
    viewer.value._api.onceReady().then(() => {
      viewer.value.goToPicture(collectionItemsReady[0].id, sequence.value?.id)
    })
    itemSelected.value = collectionItemsReady[0].id
    scrollIntoSelected(collectionItemsReady[0].id, pictures.value)
  } catch (err) {
    console.log(err)
  }
})

watchEffect(async () => {
  if (!viewer.value || !viewer.value.addEventListener) return
  viewer.value.addEventListener(
    'picture-loaded',
    async (e: { detail: { picId: string } }): Promise<void> => {
      if (itemSelected.value === e.detail.picId) return
      if (!pictureExistInList(e.detail.picId)) {
        await goToTheGoodPage(e.detail.picId)
      }
      itemSelected.value = e.detail.picId
      scrollIntoSelected(e.detail.picId, pictures.value)
    }
  )
})

const sequenceStatus = computed((): string => {
  if (sequence.value?.status === 'ready')
    return t('pages.sequence.sequence_published')
  if (sequence.value?.status === 'hidden')
    return t('pages.sequence.sequence_hidden')
  return t('pages.sequence.sequence_waiting')
})

const picturesToDeleteStatus = computed((): string => {
  if (fullImagesToDelete().length) {
    return fullImagesToDelete()[0].properties['geovisio:status']
  }
  return 'hidden'
})
const imagesSelectedHaveDifferentStatus = computed((): boolean => {
  function filterByStatus(status: string): ResponseUserPhotoInterface[] {
    return fullImagesToDelete().filter((el) => {
      return el.properties['geovisio:status'] === status
    })
  }
  return (
    filterByStatus('hidden').length > 0 && filterByStatus('ready').length > 0
  )
})

const isIndeterminate = computed(
  (): boolean =>
    !!picturesToDelete.value.length &&
    !!sequence.value &&
    pictures.value.length !== picturesToDelete.value.length
)

const selectedText = computed((): string =>
  picturesToDelete.value.length === pictures.value.length
    ? t('pages.sequence.unselect_text')
    : t('pages.sequence.select_text')
)

async function goToTheGoodPage(id: string): Promise<void> {
  const { data } = await fetchCollectionItems(
    route.params.id,
    `?withPicture=${id}&limit=100`
  )
  selfLink.value = data.links.filter((el) => el.rel === 'self')
  paginationLinks.value = formatPaginationItems(data.links)
  pictures.value = data.features
}

function pictureExistInList(picId: string): boolean {
  return !!pictures.value.find((el) => el.id === picId)
}

function setHeightValue() {
  setTimeout(() => {
    if (collapseMenu.value && deleteAll.value) {
      const height =
        collapseMenu.value?.clientHeight + deleteAll.value?.clientHeight + 130
      menuHeight.value = `${height}px`
    }
  }, 500)
}

function toggleMenu() {
  headerPanelIsOpen.value = !headerPanelIsOpen.value
  setHeightValue()
}

function formatSequenceFetched(collectionInfo: ResponseUserSequenceInterface) {
  const times = ['hours', 'minutes', 'seconds']
  sequence.value = {
    ...collectionInfo,
    duration: formatDuration(collectionInfo.extent.temporal.interval[0], times),
    status: collectionInfo['geovisio:status']
  }
}
function formatDuration(temporal: Date[], times: string[]): string {
  let timer = ''
  times.map((el) => {
    const durationCalculated = durationCalc(temporal[1], temporal[0], el)
    if (durationCalculated > 0) {
      timer += ` ${t(`pages.sequence.${el}`, durationCalculated)}`
    }
  })
  return timer
}
function hiddeAllPictures(): void {
  pictures.value.map((el) => (el.properties['geovisio:status'] = 'false'))
}

async function deleteCollection(): Promise<void> {
  if (confirm(t('pages.sequence.confirm_sequence_dialog'))) {
    isLoading.value = true
    await deleteACollection(route.params.id)
    isLoading.value = false
    sequenceStore.addToastText(t('pages.sequences.sequence_deleted'), 'success')
    await router.push({ name: 'my-sequences' })
  }
}

async function patchCollection(): Promise<void> {
  isLoading.value = true
  let visible
  if (sequence.value?.status === 'ready') visible = 'false'
  else visible = 'true'
  await patchACollection(route.params.id, visible)
  const fetchCollectionInfo = await fetchCollection(route.params.id)
  formatSequenceFetched(fetchCollectionInfo.data)
  if (visible === 'false') hiddeAllPictures()
  else {
    const { data } = await fetchCollectionItems(route.params.id, '?limit=100')
    pictures.value = data.features
  }
  viewer.value.reloadVectorTiles()
  isLoading.value = false
}

function fullImagesToDelete(): ResponseUserPhotoInterface[] {
  return pictures.value.filter((el) => picturesToDelete.value.includes(el.id))
}

async function goToNextPage(value: string) {
  isLoading.value = true
  const { data } = await fetchCollectionItemsWithFullUrl(value)
  selfLink.value = data.links.filter((el) => el.rel === 'self')
  paginationLinks.value = formatPaginationItems(data.links)
  pictures.value = data.features
  scrollIntoSelected(pictures.value[0].id, pictures.value)
  picturesToDelete.value = []
  isLoading.value = false
  setHeightValue()
}

function triggerCheck(value: CheckboxInterface): void {
  value.isChecked
    ? (picturesToDelete.value = pictures.value
        .filter(
          (el) => el.properties['geovisio:status'] !== 'waiting-for-process'
        )
        .map((el) => el.id))
    : (picturesToDelete.value = [])
}
function selectPhotoToDeleteOrPatch(
  item: ResponseUserPhotoInterface
): string[] {
  document.addEventListener('keydown', function (evt) {
    if (evt.key === 'Shift') {
      isShiftPressed.value = true
    }
  })
  document.addEventListener('keyup', function (evt) {
    if (evt.key === 'Shift') {
      isShiftPressed.value = false
    }
  })
  if (isShiftPressed.value) {
    const picturesIndex = pictures.value.findIndex((el) => el.id === item.id)
    const picturesLastIndex = pictures.value.findIndex(
      (el) => el.id === picturesToDelete.value[0]
    )
    const slicedUserPhotos = pictures.value.slice(
      picturesLastIndex,
      picturesIndex + 1
    )
    return (picturesToDelete.value = slicedUserPhotos.map((el) => el.id))
  }
  if (picturesToDelete.value.includes(item.id)) {
    return (picturesToDelete.value = picturesToDelete.value.filter(
      (el) => el !== item.id
    ))
  }
  return (picturesToDelete.value = [...picturesToDelete.value, item.id])
}
async function selectImageAndMove(
  item: ResponseUserPhotoInterface
): Promise<void> {
  selectPhotoToDeleteOrPatch(item)
  if (
    picturesToDelete.value.length < 2 &&
    item.properties['geovisio:status'] === 'ready'
  ) {
    const viewerMap = await viewer.value
    viewerMap.goToPicture(item.id, sequence.value?.id)
    itemSelected.value = item.id
    await goToTheGoodPage(item.id)
    scrollIntoSelected(item.id, pictures.value)
  }
}

async function patchOrDeleteCollectionItems(
  requestType: string
): Promise<void> {
  if (
    requestType === 'DELETE' &&
    !confirm(t('pages.sequence.confirm_pictures_dialog'))
  )
    return
  isLoading.value = true
  toastText.value = ''
  const chunksItems = spliceIntoChunks(picturesToDelete.value, 4)
  try {
    let items: unknown[] = []
    if (imagesSelectedHaveDifferentStatus.value) {
      for (let el of chunksItems) {
        items = [
          ...items,
          ...(await Promise.all(
            el.map(async (ele) => {
              if (requestType === 'PATCH') {
                return await patchACollectionItem('true', route.params.id, ele)
              }
              return await deleteACollectionItem(route.params.id, ele)
            })
          ))
        ]
      }
    } else {
      for (let el of chunksItems) {
        items = [
          ...items,
          ...(await Promise.all(
            el.map(async (ele) => {
              if (requestType === 'PATCH') {
                const imageToDelete = pictures.value.find(
                  (elem) => elem.id === ele
                )
                const isVisible =
                  imageToDelete?.properties['geovisio:status'] === 'ready'
                    ? 'false'
                    : 'true'
                return await patchACollectionItem(
                  isVisible,
                  route.params.id,
                  ele
                )
              }
              return await deleteACollectionItem(route.params.id, ele)
            })
          ))
        ]
      }
    }
    const { data } = await fetchCollectionItems(route.params.id, '?limit=100')
    pictures.value = data.features
    isLoading.value = false
    viewer.value.reloadVectorTiles()
    viewer.value.goToPicture(pictures.value[0].id, route.params.id)
    scrollIntoSelected(picturesToDelete.value[0], pictures.value)
    picturesToDelete.value = []
    sequenceStore.addToastText(t('general.success_text'), 'success')
  } catch (e) {
    sequenceStore.addToastText(t('general.error_text'), 'error')
    isLoading.value = false
    picturesToDelete.value = []
  }
}
</script>

<style lang="scss" scoped>
.entry-page {
  display: flex;
}
.entry-viewer {
  width: 50vw;
  position: relative;
  height: calc(100vh - 8rem);
}
.menu-right {
  width: 50vw;
  height: calc(100vh - 8rem);
  overflow: hidden;
  box-shadow: 0px 4px 20px 0px #00000033;
}
.wrapper-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-button {
  display: flex;
  align-items: center;
}
.disable-button {
  margin-right: 1rem;
}
.collapse {
  &:first-child {
    @include text(s-regular);
    color: var(--grey-dark);
    margin-bottom: 1rem;
  }
  &.hidden {
    opacity: 0.4;
  }
}
.block-collapse {
  display: flex;
}
.wrapper-info-top {
  @include text(s-regular);
  color: var(--grey-dark);
}
.wrapper-info-top {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  &:first-child {
    border-right: 0.1rem solid var(--grey-dark);
    padding-right: 2rem;
  }
  &:nth-child(2) {
    padding-left: 2rem;
  }
}
.title {
  @include text(h2);
  color: var(--grey-dark);
  margin-right: 1rem;
}
.button-close {
  display: none;
}
.menu-top {
  margin: 2rem 2rem 0;
  padding: 1rem 2rem;
  border: 0.1rem solid var(--grey);
  border-radius: 0.5rem;
  background-color: var(--blue-semi);
}
.header-menu {
  display: flex;
  justify-content: space-between;
}
.sequence-status {
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  margin-right: 2rem;
  color: var(--white);
  &.ready {
    background-color: var(--orange);
    border: 0.1rem solid var(--orange);
  }
  &.waiting-for-process {
    background-color: var(--yellow);
    border: 0.1rem solid var(--yellow);
  }
  &.hidden {
    background-color: var(--blue-geovisio);
    border: 0.1rem solid var(--blue-geovisio);
  }
}
.button-collapse {
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
}
.bi-plus,
.bi-dash {
  color: var(--grey-dark);
  font-size: 3rem;
}

.photos-wrapper {
  padding: 1rem 0rem 2rem 1rem;
  height: calc(100vh - v-bind(menuHeight));
}
.delete-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
.wrapper-select {
  display: flex;
  align-items: center;
}
.wrapper-photo-selected {
  @include text(xs-regular);
}
.photo-selected-separator {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.button-hidde {
  margin-right: 1rem;
  margin-left: 1rem;
}
.delete-all-text {
  @include text(xs-r-regular);
}
.action-buttons {
  display: flex;
  align-items: center;
}
.photo-list {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  padding: 0;
}
.photo-item {
  width: calc(33% - 2rem);
  height: fit-content;
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: var(--grey);
}
.no-photo {
  @include text(s-regular);
  text-align: center;
  margin-top: 10rem;
  color: var(--grey-dark);
}
.entry-pagination {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 1024px) {
  .header-menu {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
  }
  .block-collapse {
    flex-direction: column;
  }
  .wrapper-info-top {
    &:first-child,
    &:nth-child(2) {
      padding-right: 0;
      padding-left: 0;
      border-right: none;
    }
    &:nth-child(2) {
      margin-top: 0;
    }
  }
  .photo-item {
    width: calc(50% - 2rem);
  }
}
@media (max-width: 768px) {
  .photo-item {
    width: 100%;
    margin-right: 0;
  }
  .wrapper-info-top {
    width: 100%;
    margin-right: 0;
  }
  .wrapper-button {
    margin-top: 1rem;
  }
  .photo-list {
    padding-right: 2rem;
  }
  .delete-all {
    text-align: left;
  }
  .wrapper-select {
    flex-direction: column;
    align-items: initial;
  }
  .wrapper-photo-selected:nth-child(2) {
    margin-top: 0.5rem;
  }
  .photo-selected-separator {
    display: none;
  }
}

@media (max-width: 500px) {
  .entry-page {
    height: calc(100vh - 11rem);
    overflow: hidden;
  }
  .entry-viewer {
    width: 100vw;
    position: fixed;
    z-index: 1;
  }
  .menu-right {
    padding-top: 11rem;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 0;
    width: 80vw;
    background-color: var(--white);
  }
  .menu-top {
    width: 0vw;
  }
  .button-close {
    position: absolute;
    right: 0;
    top: 22rem;
    z-index: 3;
    background-color: var(--black);
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  .menu-is-open {
    .menu-right {
      z-index: 3;
    }
    .menu-top {
      width: auto;
    }
    .button-close {
      left: calc(20vw - 3rem);
      right: initial;
    }
  }
  .entry-pagination {
    margin-top: 1rem;
  }
}

@media (min-width: 1900px) {
  .menu-right {
    width: initial;
    max-width: 100rem;
  }
  .entry-viewer {
    width: 100%;
  }
}
</style>
