<template>
  <main class="entry-page">
    <h1 class="settings-title">{{ $t('pages.settings.title') }}</h1>
    <ul class="settings-list">
      <li v-for="(item, i) in userTokens" class="settings-item">
        <span class="settings-item-title">{{ item.description }}</span>
        <div class="item-information">
          <div class="reveal-token">
            <div class="entry-button">
              <Button
                :data-test="`button-eye-${i}`"
                look="button--rounded"
                :tooltip="$t('pages.settings.setting_tooltip')"
                :icon="
                  !item.token || item.isHidden ? 'bi bi-eye' : 'bi bi-eye-slash'
                "
                @trigger="toggleToken(i)"
              />
            </div>
            <p v-if="item.token && !item.isHidden" class="token">
              {{ item.token.jwt_token }}
            </p>
            <span v-else class="token">•••••••••••••••••••••••••••••••</span>
          </div>
          <div class="entry-copy-button">
            <Button
              :data-test="`button-copy-${i}`"
              look="button--white"
              :text="$t('pages.upload.button_copy')"
              :icon="
                item.copied
                  ? 'bi bi-clipboard-check-fill'
                  : 'bi bi-clipboard-plus'
              "
              @trigger="copyText(i)"
            />
          </div>
        </div>
      </li>
    </ul>
  </main>
</template>

<script setup lang="ts">
import Button from '@/components/Button.vue'
import type {
  LinkInterface,
  ResponseUsersMeTokensInterface
} from './interfaces/MySettingsView'
import { updateClipboard } from '@/utils/copyToClipboard'
import { onMounted, ref } from 'vue'
import axios from 'axios'
let userTokens = ref<[ResponseUsersMeTokensInterface] | []>([])

async function toggleToken(i: number): Promise<void> {
  const relLink = userTokens.value[i].links.filter(
    (el: LinkInterface) => el.rel === 'self'
  )
  userTokens.value[i].isLoading = true
  if (!userTokens.value[i].token) {
    const { data } = await axios.get(relLink[0].href)
    userTokens.value[i].isHidden = false
    return (userTokens.value[i].token = data)
  }
  userTokens.value[i].isHidden = !userTokens.value[i].isHidden
}
async function copyText(i: number): Promise<void> {
  const relLink = userTokens.value[i].links.filter(
    (el: LinkInterface) => el.rel === 'self'
  )
  const { data } = await axios.get(relLink[0].href)
  userTokens.value[i].copied = await updateClipboard(data.jwt_token)
  setTimeout(function () {
    userTokens.value[i].copied = false
  }, 1000)
}
onMounted(async () => {
  try {
    const data = await axios.get('api/users/me/tokens')
    userTokens.value = data.data
  } catch (err) {
    console.log(err)
  }
})
</script>

<style lang="scss" scoped>
.entry-page {
  padding-right: 8rem;
  padding-left: 8rem;
  padding-top: 11rem;
  min-height: calc(100vh - 8rem);
}
.settings-title {
  @include text(h1);
  margin-bottom: 4rem;
}
.settings-list {
  padding-left: 0;
}
.settings-item-title {
  font-size: 1.8rem;
}
.settings-item {
  font-size: 1.4rem;
  border: 0.1rem solid var(--grey);
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
}
.item-information {
  height: 5rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reveal-token {
  display: flex;
  width: 80%;
}
.token {
  width: 100%;
  word-wrap: break-word;
}
.entry-button {
  margin-right: 1rem;
}

@media (max-width: 1024px) {
  .settings-item {
    position: relative;
    height: 14rem;
  }
  .item-information {
    height: initial;
    flex-direction: column;
    align-items: flex-start;
  }
  .reveal-token {
    margin-right: 2rem;
  }
  .entry-copy-button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}

@media (max-width: 768px) {
  .entry-page {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 14rem;
    min-height: calc(100vh - 11rem);
  }
  .settings-item {
    height: initial;
  }
  .reveal-token {
    width: 100%;
  }
  .token {
    max-width: initial;
    width: calc(100% - 3.5rem);
  }
  .entry-copy-button {
    display: none;
  }
}
</style>
