<template>
  <main class="entry-page">
    <h1 class="sequences-title">{{ $t('pages.sequences.title') }}</h1>
    <ul v-if="!isLoading" class="sequence-list">
      <li class="sequence-item">
        <div class="sequence-header-item"></div>
        <div class="sequence-header-item">
          <Button
            :text="$t('pages.sequences.sequence_name')"
            look="link--grey"
            icon="bi bi-arrow-down-up"
            data-test="button-sort-title"
            @trigger="sortElements('alpha')"
          />
        </div>
        <div class="sequence-header-item">
          <Button
            :text="$t('pages.sequences.sequence_photos')"
            look="link--grey"
            icon="bi bi-arrow-down-up"
            data-test="button-sort-number"
            @trigger="sortElements('num')"
          />
        </div>
        <div class="sequence-header-item">
          <Button
            :text="$t('pages.sequences.sequence_date')"
            look="link--grey"
            icon="bi bi-arrow-down-up"
            data-test="button-sort-date"
            @trigger="sortElements('date')"
          />
        </div>
        <div class="sequence-header-item">
          <Button
            :text="$t('pages.sequences.sequence_status')"
            look="link--grey"
            icon="bi bi-arrow-down-up"
            data-test="button-sort-date"
            @trigger="sortElements('alpha')"
          />
        </div>
      </li>
      <li
        v-if="userSequences.length"
        v-for="item in userSequences"
        class="sequence-item"
      >
        <router-link
          class="button-item"
          :to="{
            name: 'sequence',
            params: { id: item.id }
          }"
        >
          <div class="wrapper-thumb">
            <img
              v-if="item['stats:items'].count > 0"
              :src="`${item.href}/thumb.jpg`"
              lazy="loading"
              alt=""
              class="thumb"
            />
            <div class="wrapper-thumb-hover">
              <img
                v-if="item['stats:items'].count > 0"
                :src="`${item.href}/thumb.jpg`"
                lazy="loading"
                alt=""
                class="thumb-hover"
              />
            </div>
          </div>
          <div>
            <span>
              {{ item.title }}
            </span>
          </div>
          <div>
            <i class="bi bi-images"></i>
            <span>
              {{ item['stats:items'].count }}
            </span>
          </div>
          <div>
            <span>
              {{
                formatDate(
                  item.extent.temporal.interval[0][0],
                  'Do MMMM YYYY HH:mm:ss'
                )
              }}
            </span>
          </div>
          <div>
            <span>{{ sequenceStatus(item['geovisio:status']) }}</span>
          </div>
        </router-link>
      </li>
      <div v-else class="no-sequence">
        <p class="no-sequence-text">
          {{ $t('pages.sequences.no_sequences_text') }}
        </p>
        <Link
          :text="$t('general.header.contribute_text')"
          look="button"
          path="/partager-des-photos"
        />
      </div>
    </ul>
    <div v-else class="loader">
      <Loader />
    </div>
    <Toast :text="toastText" :look="toastLook" @trigger="toastText = ''" />
  </main>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'
import { useI18n } from 'vue-i18n'
import { useSequenceStore } from '@/store/sequence'
import { storeToRefs } from 'pinia'
import axios from 'axios'
import Button from '@/components/Button.vue'
import Link from '@/components/Link.vue'
import Toast from '@/components/Toast.vue'
import Loader from '@/components/Loader.vue'
import type {
  LinkInterface,
  ExtentInterface
} from './interfaces/MySequencesView'
import { formatDate } from '@/utils/dates'
const { t } = useI18n()
const sequenceStore = useSequenceStore()
const { toastText, toastLook } = storeToRefs(sequenceStore)

let userSequences = ref<LinkInterface[]>([])
let isSorted = ref<boolean>(false)
let isLoading = ref<boolean>(false)

function sequenceStatus(status: string): string {
  if (status === 'ready') {
    return t('pages.sequences.sequence_published')
  }
  if (status === 'waiting-for-process') {
    return t('pages.sequences.sequence_waiting')
  }
  return t('pages.sequences.sequence_hidden')
}
function sortElements(type: string): void {
  let aa: string | number
  let bb: string | number
  if (!isSorted.value) {
    const sorted = userSequences.value.sort(
      (a: ExtentInterface, b: ExtentInterface): number => {
        aa = new Date(a.extent.temporal.interval[0][0]).getTime()
        bb = new Date(b.extent.temporal.interval[0][0]).getTime()
        if (type === 'alpha') {
          aa = a.title
          bb = b.title
        }
        if (type === 'num') {
          aa = Number(a['stats:items'].count)
          bb = Number(b['stats:items'].count)
        }
        isSorted.value = true
        if (aa < bb) return -1
        return 0
      }
    )
    userSequences.value = sorted
  } else {
    const sorted = userSequences.value.sort(
      (a: ExtentInterface, b: ExtentInterface): number => {
        aa = new Date(a.extent.temporal.interval[0][0]).getTime()
        bb = new Date(b.extent.temporal.interval[0][0]).getTime()
        if (type === 'alpha') {
          aa = a.title
          bb = b.title
        }
        if (type === 'num') {
          aa = Number(a['stats:items'].count)
          bb = Number(b['stats:items'].count)
        }
        isSorted.value = false
        if (aa > bb) return -1
        return 0
      }
    )
    userSequences.value = sorted
  }
}
onMounted(async () => {
  isLoading.value = true
  try {
    const { data } = await axios.get('api/users/me/catalog')
    const relChild = data.links.filter(
      (el: LinkInterface) => el.rel === 'child'
    )
    userSequences.value = relChild
    isLoading.value = false
  } catch (err) {
    isLoading.value = false
    console.log(err)
  }
})
</script>

<style lang="scss" scoped>
.entry-page {
  padding-right: 8rem;
  padding-left: 8rem;
  padding-top: 11rem;
  min-height: calc(100vh - 8rem);
}

.sequences-title {
  @include text(h1);
  margin-bottom: 4rem;
}
.sequence-list {
  box-shadow: 0px 2px 30px 0px #0000000f;
  border-radius: 2rem;
  padding: 0;
}
.sequence-item {
  @include text(s-regular);
  border: none;
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: var(--blue-pale);
  &:last-child {
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    .button-item {
      border-bottom-right-radius: 2rem;
      border-bottom-left-radius: 2rem;
    }
  }
  &:first-child {
    margin-bottom: 1rem;
    padding: 1rem 3rem;
    border-bottom: 0.1rem solid var(--grey);
    border-radius: 2rem 2rem 0rem 0rem;
    background-color: var(--white);
  }
  &:nth-child(2n) {
    background-color: var(--white);
  }
}
.wrapper-title {
  display: flex;
  align-items: center;
}
.wrapper-thumb {
  position: relative;
}
.wrapper-thumb-hover {
  display: none;
  border-radius: 0.3rem;
  border: 1rem solid var(--grey);
  position: absolute;
  bottom: 0;
  height: 15rem;
  z-index: 1;
}
.thumb-hover {
  height: 100%;
}
.wrapper-thumb:hover {
  .wrapper-thumb-hover {
    display: block;
  }
}
.thumb {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  position: relative;
}
.button-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2rem 3rem;
  background-color: transparent;
  border: none;
  text-decoration: none;
  & > * {
    padding: 1rem;
    text-align: initial;
    width: 31%;
    color: var(--black);
  }
  > :first-child {
    color: var(--blue);
    width: 6rem;
  }
  & > :first-child {
    padding: 0;
    margin-right: 2rem;
  }
  & > :nth-child(2) {
    color: var(--blue);
  }
  &:hover {
    background-color: var(--blue);
    & > * {
      color: var(--white);
    }
  }
}
.bi-images {
  margin-right: 0.5rem;
}
.sequence-header-item {
  width: 31%;
  &:first-child {
    margin-right: 2rem;
  }
  &:first-child {
    width: 6rem;
  }
}
.no-sequence {
  padding-top: 2rem;
  padding-bottom: 4rem;
  margin: auto;
  width: fit-content;
  @include text(m-regular);
}
.no-sequence-text {
  margin-bottom: 4rem;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 20rem;
}
@media (max-width: 768px) {
  .entry-page {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 14rem;
    min-height: calc(100vh - 11rem);
  }
  .button-item,
  .sequence-item:first-child {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media (max-width: 500px) {
  .button-item {
    flex-direction: column;
    align-items: center;
    & > * {
      text-align: center;
      width: 100%;
    }
    .wrapper-thumb {
      margin-right: 0;
    }
  }
  .sequence-item:first-child {
    display: none;
  }
  .sequence-item {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }
}
</style>
