<template>
  <main class="entry-page">
    <section id="sec-1" class="section-upload">
      <div class="wrapper-upload">
        <div class="wrapper-upload-text">
          <h1 class="upload-title">{{ $t('pages.upload.title') }}</h1>
          <div class="wrapper-check">
            <div class="wrapper-img-icon">
              <i class="bi bi-images img-icon"></i>
            </div>
            <div class="element-check">
              <span class="block-check"
                ><span class="check-border">✔</span
                >{{ $t('pages.upload.photo_type1') }}</span
              >
              <span class="block-check"
                ><span class="check-border">✔</span
                >{{ $t('pages.upload.photo_type2') }}</span
              >
              <span class="block-check"
                ><span class="check-border">✔</span
                >{{ $t('pages.upload.photo_type3') }}</span
              >
              <span class="block-check"
                ><span class="check-border">✔</span
                >{{ $t('pages.upload.photo_type4') }}</span
              >
            </div>
          </div>
          <p
            class="upload-text"
            v-html="
              $t('pages.upload.description', {
                check: checkImg
              })
            "
          />
          <p class="upload-text">{{ $t('pages.upload.footer_block') }}</p>
          <div v-if="!isLogged && authConf.enabled" class="wrapper-account">
            <h4 class="account-subtitle">
              {{ $t('pages.upload.sub_title') }}
            </h4>
            <div class="entry-link">
              <Link
                :text="$t('pages.upload.user_account_button')"
                type="external"
                look="button white"
                :path="getAuthRoute('auth/login', 'partager-des-photos')"
              />
            </div>
          </div>
        </div>
        <div class="entry-image">
          <div class="image">
            <img
              src="@/assets/images/upload.png"
              :alt="$t('pages.upload.alt_img_upload')"
            />
          </div>
        </div>
      </div>
    </section>
    <div class="entry-button-down">
      <Link
        :href="hrefSection"
        type="external"
        :icon="icon"
        look="button--rounded"
        @trigger="triggerHref"
      />
    </div>
    <section id="sec-2" class="section-upload">
      <div class="wrapper-upload">
        <div class="entry-terminal">
          <div class="terminal">
            <Terminal
              :text-upload="terminalText"
              :text-install="terminalTextInstall"
            />
          </div>
        </div>
        <div class="wrapper-upload-text">
          <h2 class="upload-title">{{ $t('pages.upload.title_terminal') }}</h2>
          <p
            class="upload-text"
            v-html="$t('pages.upload.description_terminal')"
          ></p>
          <p
            class="upload-text grey"
            v-html="$t('pages.upload.footer_description_terminal')"
          ></p>
          <div class="wrapper-account">
            <h4 class="account-subtitle">
              {{ $t('pages.upload.cli_title') }}
            </h4>
            <div class="entry-link">
              <Link
                :text="$t('pages.upload.button')"
                type="external"
                look="button"
                path="https://gitlab.com/geovisio/cli"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script lang="ts" setup>
import Link from '@/components/Link.vue'
import Terminal from '@/components/Terminal.vue'
import { useCookies } from 'vue3-cookies'
import { computed, ref } from 'vue'
import { useI18n } from 'vue-i18n'
import { useRoute } from 'vue-router'
import { getAuthRoute } from '@/utils/auth'
import authConfig from '../composables/auth'
const { cookies } = useCookies()
const { t } = useI18n()
const { authConf } = authConfig()
const route = useRoute()

let hrefSection = ref<string>('#sec-2')
let icon = ref<string>('bi bi-chevron-down')
const checkImg =
  "<span style='background:white; padding: 0.5rem 0.525rem;border-radius:50%; font-size:0.8rem;'>✔</span>"

const isLogged = computed((): boolean => !!cookies.get('user_id'))
const terminalText = computed((): string => {
  const url = import.meta.env.VITE_API_URL
    ? import.meta.env.VITE_API_URL
    : 'https://panoramax.ign.fr/'
  return t('pages.upload.terminal_text', { url })
})
const terminalTextInstall = computed((): string =>
  t('pages.upload.terminal_install')
)
function triggerHref(): void {
  icon.value =
    route.hash === '#sec-2' ? 'bi bi-chevron-down' : 'bi bi-chevron-up'
  hrefSection.value = route.hash === '#sec-2' ? '#sec-1' : '#sec-2'
}
</script>

<style lang="scss" scoped>
.upload-title {
  @include text(h1);
}
.account-subtitle {
  @include text(h4);
}
.entry-link {
  margin-top: 1rem;
}
.upload-text {
  @include text(m-regular);
  margin-top: 5rem;
}
.wrapper-check {
  position: relative;
  width: fit-content;
  padding: 3rem;
  background-color: var(--white);
  border-radius: 1.5rem;
  font-size: 1.6rem;
  margin-top: 8rem;
}
.wrapper-img-icon {
  background-color: var(--black);
  border-radius: 50%;
  position: absolute;
  height: 5.5rem;
  width: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  top: -3rem;
  left: 50%;
  transform: translate(-50%);
}
.img-icon {
  color: var(--white);
}
.element-check {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.block-check {
  margin-bottom: 1rem;
  display: flex;
}
.check-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  font-size: 0.8rem;
  background: var(--white);
  border: 0.1rem solid var(--black);
  margin-right: 0.5rem;
}
.block-check:last-child {
  margin-bottom: 0;
}
.section-upload {
  height: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
}
.section-upload:first-child {
  background-color: rgba(236, 236, 236, 0.5);
}
.wrapper-upload {
  display: flex;
  align-items: initial;
  justify-content: center;
}
.wrapper-upload-text {
  width: 40%;
  white-space: pre-wrap;
}
.grey {
  color: var(--grey-semi-dark);
}
.wrapper-account {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
  padding-top: 1rem;
  border-top: 0.1rem solid #e6e6e6;
}
.upload-button {
  display: flex;
  margin-top: 3rem;
}
.image {
  background-color: var(--white);
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid black;
  width: 75%;
  height: fit-content;
}
.entry-image {
  display: flex;
  justify-content: center;
  width: 35%;
  overflow: hidden;
  margin-left: 6rem;
}
.entry-terminal {
  margin-left: 0;
  margin-right: 6rem;
}
.entry-image img {
  width: 100%;
  border-radius: 1rem;
}
.entry-button-down {
  z-index: 1;
  position: fixed;
  right: 2rem;
  bottom: calc(20vh - 10.5rem);
}
@media (max-width: 1024px) {
  .section-upload {
    height: initial;
  }
  .wrapper-upload {
    flex-direction: column-reverse;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .wrapper-upload-text {
    width: 100%;
  }
  .entry-image {
    display: none;
  }
  .entry-terminal {
    width: 100%;
    justify-content: initial;
  }
  .terminal {
    width: 100%;
    margin-top: 4rem;
  }
}
@media (max-width: 768px) {
  .entry-page {
    padding-top: 11rem;
  }
  .entry-image {
    width: 60%;
    margin-right: 0;
    margin-left: 0;
  }
  .entry-terminal {
    width: 100%;
  }
  .wrapper-upload-text {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 500px) {
  .entry-page {
    min-height: calc(100vh - 11rem);
    padding-top: 11rem;
  }
  .entry-image {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  .image {
    width: 100%;
  }
  .wrapper-upload-text {
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .upload-text {
    margin-bottom: 3rem;
  }
  .wrapper-account {
    padding-top: 3rem;
    flex-direction: column;
  }
  .account-subtitle {
    margin-bottom: 2rem;
  }
  .entry-button-down {
    display: none;
  }
}
</style>
