<template>
  <p class="instance-beta">
    {{ title($t('general.header.title')) }}
    <span class="beta">{{ $t('general.header.beta_text') }}</span>
  </p>
</template>

<script lang="ts" setup>
import title from '@/utils/index'
</script>

<style lang="scss" scoped>
.beta {
  @include text(xs-r-regular);
  color: var(--red);
  border: 1px solid var(--red);
  border-radius: 0.5rem;
  padding: 0.2rem 0.3rem;
  margin-left: 0.5rem;
  position: absolute;
  top: -1rem;
  right: -9.5rem;
  width: 9rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .instance-beta {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey);
    padding: 1rem;
    margin-bottom: 0;
  }
  .beta {
    position: relative;
    top: initial;
    right: initial;
    margin-left: 1rem;
  }
}
</style>
