<template>
  <button
    :disabled="isLoading || disabled"
    type="button"
    :class="[look, 'default', { disabled }]"
    @click="$emit('trigger')"
  >
    <i v-if="icon" :class="[icon, 'icon']"></i>
    <span v-if="text.length" class="text">{{ text }}</span>
    <span v-if="tooltip && tooltip.length" class="tooltip-button">{{
      tooltip
    }}</span>
  </button>
</template>

<script lang="ts" setup>
defineProps({
  icon: { type: String, default: null },
  disabled: { type: Boolean, default: false },
  isLoading: { type: Boolean, default: false },
  text: { type: String, default: '' },
  tooltip: { type: String, default: '' },
  look: { type: String, default: '' }
})
</script>

<style lang="scss" scoped>
@media (min-width: 768px) {
  .default:hover {
    opacity: 0.8;
  }
}
.default {
  @include text(s-regular);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding: 1rem;
  position: relative;
  z-index: 1;
  .icon {
    font-size: 2.5rem;
  }
}
.button--black {
  height: 3.5rem;
  border-radius: 0.5rem;
  padding: 1.3rem 2rem 1.3rem;
  color: var(--white);
  background-color: var(--black);
}
.button--transparent {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--white);
  background-color: var(--black);
  color: var(--white);
}
.button--red {
  height: 3.5rem;
  min-width: 3.5rem;
  border-radius: 0.5rem;
  color: var(--red);
  background-color: var(--white);
  border: 0.1rem solid var(--red);
  .icon {
    margin-right: 0;
    font-size: 1.4rem;
    color: var(--red);
  }
  .text {
    margin-left: 1rem;
  }
}
.button--white {
  height: 3.5rem;
  border-radius: 0.5rem;
  color: var(--black);
  background-color: var(--white);
  border: 0.1rem solid var(--black);
  .icon {
    font-size: 1.4rem;
    color: var(--black);
    margin-right: 0;
  }
  .text {
    margin-left: 1rem;
  }
}
.no-text {
  height: 3rem;
  width: 3rem;
  padding: 0;
  .icon {
    margin-right: 0;
  }
}
.link--grey {
  color: var(--grey-semi-dark);
  .icon {
    font-size: 1.4rem;
    color: var(--grey-semi-dark);
  }
}
.link--red {
  height: 3rem;
  color: var(--red);
  background-color: var(--white);
  .icon {
    font-size: 1.4rem;
    color: var(--red);
  }
}

.icon {
  margin-right: 1rem;
  font-size: 2rem;
  color: var(--white);
}
.button--rounded {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0;
  height: 2.5rem;
  width: 2.5rem;
  .icon {
    color: var(---black);
    font-size: 1.8rem;
    margin-right: 0;
  }
}

.default .tooltip-button {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: -100%;
  visibility: hidden;
  width: 18rem;
  right: 0;
  @include text(xss-regular);
}

.default:hover .tooltip-button {
  visibility: visible;
}
.disabled {
  color: var(--grey-pale);
  border-color: var(--grey-pale);
  cursor: not-allowed;
  .icon {
    color: var(--grey-pale);
  }
}
</style>
