<template>
  <header class="header">
    <div class="responsive beta">
      <beta-text />
    </div>
    <nav class="nav">
      <div class="wrapper-logo desktop">
        <Link
          :image="{
            url: 'logo.jpeg',
            alt: $t('general.header.alt_logo')
          }"
          :text="title($t('general.header.title'))"
          path="/"
        />
      </div>
      <div class="wrapper-logo responsive">
        <Link
          :image="{
            url: 'logo.jpeg',
            alt: $t('general.header.alt_logo')
          }"
          path="/"
        />
      </div>
      <div ref="list" class="wrapper-entries">
        <ul
          v-if="isLogged && authEnabled"
          :class="['nav-list', { 'menu-open': !menuIsClosed }]"
        >
          <li class="logged-link">
            <Link
              :text="$t('general.header.sequences_text')"
              icon="bi bi-images"
              path="/mes-sequences"
              @click.native="closeModal"
            />
          </li>
          <li v-if="userProfileUrl" class="logged-link">
            <Link
              path="/mes-informations"
              icon="bi bi-person"
              :text="$t('general.header.my_information_text')"
              @click.native="closeModal"
            />
          </li>
          <li class="logged-link">
            <Link
              path="/mes-parametres"
              icon="bi bi-gear"
              :text="$t('general.header.my_settings_text')"
              @click.native="closeModal"
            />
          </li>
          <li class="logged-link">
            <Link
              type="external"
              icon="bi bi-power"
              :text="$t('general.header.logout_text')"
              :path="getAuthRoute('auth/logout', route.path)"
              @click.native="closeModal"
            />
          </li>
        </ul>
        <div class="wrapper-right-entries">
          <div>
            <Link
              :text="$t('general.header.contribute_text')"
              look="button white"
              path="/partager-des-photos"
              @click.native="closeModal"
            />
          </div>
          <button
            v-if="isLogged && authEnabled"
            class="menu-burger"
            :aria-label="ariaLabel"
            @click="toggleMenu"
          >
            <div v-if="isLogged" class="item-with-sub">
              <span>{{ userName }}</span>
            </div>
            <div v-else>
              <i v-if="!menuIsClosed" class="cross bi bi-x-lg"></i>
              <i v-else class="bi bi-list"></i>
            </div>
          </button>
          <div v-else-if="!isLogged && authEnabled">
            <Link
              type="external"
              icon="bi bi-person-circle"
              :path="getAuthRoute('auth/login', route.path)"
            />
          </div>
        </div>
      </div>
    </nav>
  </header>
</template>

<script lang="ts" setup>
import { ref, computed } from 'vue'
import { onClickOutside } from '@vueuse/core'
import { useCookies } from 'vue3-cookies'
import { useRoute } from 'vue-router'
import { useI18n } from 'vue-i18n'
import { getAuthRoute } from '@/utils/auth'
import title from '@/utils/index'
import Link from '@/components/Link.vue'
import BetaText from '@/components/BetaText.vue'

const { cookies } = useCookies()
const { t } = useI18n()
const route = useRoute()
defineProps({
  authEnabled: { type: Boolean, default: true },
  userProfileUrl: { type: String, default: null }
})
const list = ref(null)
let menuIsClosed = ref<boolean>(true)

onClickOutside(list, () => closeModal())

function closeModal() {
  menuIsClosed.value = true
}

function toggleMenu(): void {
  menuIsClosed.value = !menuIsClosed.value
}
const isLogged = computed((): boolean => !!cookies.get('user_id'))
const ariaLabel = computed((): string =>
  menuIsClosed.value
    ? t('general.header.burger_menu_aria_label_open')
    : t('general.header.burger_menu_aria_label_closed')
)
const userName = computed((): string =>
  cookies!
    .get('user_name')
    .match(/\b(\w)/g)!
    .join('')
    .toUpperCase()
)
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  align-items: center;
  height: 8rem;
  border-bottom: 0.1rem solid var(--black);
}
.nav {
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  display: flex;
  justify-content: space-between;
}
.wrapper-logo {
  display: flex;
  align-items: center;
}
.wrapper-entries {
  display: flex;
}
.responsive {
  display: none;
}
.desktop {
  display: block;
}
.wrapper-logo p {
  @include text(m-r-regular);
  margin-bottom: 0;
  margin-left: 1rem;
  position: relative;
}
.item-with-sub {
  position: relative;
  display: flex;
  align-items: center;
}
.item-with-sub:hover .sub-nav-block {
  display: block;
}
.sub-nav-block {
  display: none;
  border-radius: 0.5rem;
  border: 1px solid var(--black);
  background-color: var(--white);
  position: absolute;
  right: 0;
  top: 3.5rem;
  z-index: 1;
  width: 15rem;
}
.logged-link {
  display: flex;
  padding: 0.5rem 2rem 0.7rem;
}
.logged-link:hover {
  border-radius: 0.5rem;
  background-color: var(--grey);
}
.nav-list-item {
  margin-right: 1.5rem;
}
.menu-burger {
  display: none;
}
.wrapper-right-entries {
  display: flex;
  align-items: center;
  div:first-child {
    margin-right: 2rem;
  }
}
.cross {
  font-size: 2rem;
}
.item-with-sub {
  margin-right: 1.5rem;
}
.nav {
  align-items: center;
  padding: 1.5rem;
}
.nav-list {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  position: absolute;
  width: 20rem;
  top: 8rem;
  right: 0;
  z-index: 2;
  background-color: var(--white);
  box-shadow: 0 0.2rem 0.4rem rgb(0 0 0 / 10%);
  padding-left: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
}
.menu-burger {
  display: block;
  background-color: transparent;
  border: none;
  width: 2.5rem;
  font-size: 2.5rem;
  padding: 0;
  .item-with-sub {
    @include text(s-regular);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    color: var(--white);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-right: 0;
  }
}
.menu-open {
  display: flex;
}
@media (max-width: 500px) {
  .header {
    flex-direction: column;
    height: 11rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    background: var(--white);
  }
  .nav-list {
    top: 11rem;
    width: 100%;
  }
  .desktop {
    display: none;
  }
  .responsive {
    display: flex;
  }
  .beta {
    width: 100%;
    .instance-beta {
      width: 100%;
    }
  }
}
</style>
