<template>
  <div :class="status">
    <div class="wrapper-image">
      <button
        :class="[{ selected }, 'button-image-item']"
        :disabled="status === 'waiting-for-process'"
        type="button"
        @click="$emit('trigger')"
      >
        <div
          v-if="status.length && status !== 'waiting-for-process'"
          class="photo-img-wrapper"
        >
          <i v-if="status === 'hidden'" class="bi bi-eye-slash icon-hidden"></i>
          <img
            v-if="href"
            :src="href"
            alt=""
            loading="lazy"
            class="photo-img"
          />
        </div>
        <div v-else class="waiting-wrapper">
          <i class="bi bi-card-image icon-waiting"></i>
        </div>
        <div
          v-if="selectedOnMap && !selected"
          class="icon-img pointer-map"
        ></div>
        <div v-if="selected && !selectedOnMap" class="icon-img button-check">
          <i class="bi bi-check-lg" />
        </div>
        <div
          v-if="selected && selectedOnMap"
          class="icon-img button-check-pointer"
        >
          <i class="bi bi-check-lg" />
        </div>
        <div v-if="status === 'waiting-for-process'" class="photo-info">
          <span class="waiting info">{{
            $t('pages.sequence.waiting_process')
          }}</span>
        </div>
        <div v-else class="photo-info">
          <span v-if="created" class="info"
            ><i class="bi bi-clock"></i> {{ created }}</span
          >
          <div class="button-info">
            <Link
              look="button--blue no-text"
              icon="bi bi-cloud-download-fill"
              type="external"
              target="_blank"
              :path="hrefHd"
            />
          </div>
        </div>
      </button>
    </div>
  </div>
</template>

<script lang="ts" setup>
import Link from '@/components/Link.vue'

defineProps({
  created: { type: String, default: null },
  href: { type: String, default: null },
  hrefHd: { type: String, default: null },
  selected: { type: Boolean, default: false },
  selectedOnMap: { type: Boolean, default: false },
  status: {
    type: String,
    validator: (value: string): boolean =>
      ['waiting-for-process', 'ready', 'hidden', ''].includes(value),
    default: ''
  }
})
</script>

<style lang="scss" scoped>
.button-image-item {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0;
  position: relative;
}
.selected {
  border: 0.1rem solid var(--blue);
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.wrapper-image {
  display: flex;
}
.photo-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  height: 16rem;
  width: 100%;
  object-fit: cover;
}
.photo-img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}
.icon-hidden {
  color: var(--grey-dark);
  position: absolute;
  font-size: 4rem;
}
.waiting-wrapper {
  height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue);
}
.icon-waiting {
  height: 4rem;
  font-size: 4rem;
}
.icon-img {
  top: 1rem;
  right: 1rem;
  background-color: var(--white);
  border-radius: 50%;
  position: absolute;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.pointer-map,
.button-check-pointer {
  background-color: var(--orange);
}
.delete-checked {
  opacity: 1;
}
.photo-info {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.waiting {
  text-align: center;
  width: 100%;
  color: var(--black);
}

.info {
  padding: 0.5rem 0.8rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  color: var(--blue);
}

.button-image-item:hover {
  .photo-img {
    opacity: 0.5;
  }
}

.hidden {
  .photo-img,
  .info {
    opacity: 0.3;
  }
  &:hover {
    .photo-img,
    .info {
      opacity: 1;
    }
  }
}
</style>
