<template>
  <a
    v-if="type === 'external'"
    :href="path"
    :target="target"
    :class="['default', look, { disabled }]"
    :title="titleImg"
    v-bind="$attrs"
    @click="$emit('trigger')"
  >
    <i v-if="icon" :class="[icon, 'icon']"></i>
    <img v-if="image" :src="img(image.url)" :alt="image.alt" class="logo" />
    <span v-if="text" class="text">{{ text }}</span>
  </a>
  <router-link
    v-else
    :to="path"
    :class="['default', look, { disabled }]"
    :title="text"
  >
    <i v-if="icon" :class="[icon, 'icon']"></i>
    <img v-if="image" :src="img(image.url)" :alt="image.alt" class="logo" />
    <span v-if="text" class="text">{{ text }}</span>
  </router-link>
</template>

<script lang="ts" setup>
import { useI18n } from 'vue-i18n'
import { computed } from 'vue'
import type { PropType } from 'vue'
import { img } from '../utils/image'

const { t } = useI18n()
interface ImageInterface {
  url: string
  alt: string
}

const props = defineProps({
  text: { type: String, default: null },
  path: { type: String, default: '' },
  look: { type: String, default: '' },
  type: { type: String, default: null },
  alt: { type: String, default: '' },
  icon: { type: String, default: null },
  target: { type: String, default: null },
  image: { type: Object as PropType<ImageInterface>, default: null },
  disabled: { type: Boolean, default: false }
})

const titleImg = computed<string>(() =>
  props.disabled ? t('general.header.contribute_text') : ''
)
</script>

<style lang="scss" scoped>
.icon {
  color: var(--black);
  font-size: 2.4rem;
  margin-right: 1rem;
}
.default {
  @include text(s-regular);
  display: flex;
  align-items: center;
  color: var(--black);
  text-decoration: none;
  .icon {
    margin-right: 1rem;
  }
}
.text {
  width: 100%;
  text-align: center;
}
.link:hover {
  background-color: transparent;
  text-decoration: underline;
}
.button {
  height: 4rem;
  border-radius: 0.5rem;
  padding: 1.3rem 2rem 1.3rem;
  background-color: var(--black);
  color: var(--white);
}
.white {
  background-color: var(--white);
  color: var(--black);
  border: 0.1rem solid var(--black);
}
.white .icon {
  font-size: 1.6rem;
}
.button:hover {
  opacity: 0.9;
}
.white:hover {
  background-color: var(--black);
  color: var(--white);
}

.white:hover > .icon {
  color: white;
}
.logo {
  height: 4rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}
.disabled {
  color: grey;
  cursor: not-allowed;
}
.disabled .icon {
  color: grey;
  cursor: not-allowed;
}
.disabled:hover {
  text-decoration: none;
}
.button--rounded {
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0;
  height: 4rem;
  width: 4rem;
  .icon {
    color: var(--white);
    font-size: 2.8rem;
    margin-right: 0;
  }
}
.button--white {
  height: 4rem;
  border-radius: 0.5rem;
  color: var(--black);
  background-color: var(--white);
  border: 0.1rem solid var(--black);
  .icon {
    font-size: 1.4rem;
    color: var(--black);
  }
}
.button--blue {
  height: 4rem;
  border-radius: 0.5rem;
  background-color: var(--white);
  border: 0.1rem solid var(--blue);
  .icon {
    font-size: 1.4rem;
    color: var(--blue);
  }
}
.no-text {
  height: 3rem;
  width: 3rem;
  padding: 0;
  .icon {
    margin: auto;
  }
}
@media (max-width: 500px) {
  .icon {
    margin-right: 0.5rem;
  }
  .button {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .disable-mobile {
    pointer-events: none;
  }
}
</style>
