<template>
  <div class="wrapper-terminal">
    <div class="header">
      <div class="round red"></div>
      <div class="round yellow"></div>
      <div class="round green"></div>
    </div>
    <div class="editor">
      <code class="code">
        <div class="screen">
          <div class="upload-command">
            <span class="tilde">~</span><span>{{ textInstall }}</span>
          </div>
          <div class="entry-button-terminal">
            <Button
              look="button--transparent"
              :text="$t('pages.upload.button_copy')"
              :icon="clipboardIcon"
              @trigger="copyText(textInstall)"
              class="entry-button"
            />
          </div>
        </div>
        <div class="screen">
          <div class="upload-command">
            <span class="tilde">~</span><span>{{ textUpload }}</span>
          </div>
          <div class="entry-button-terminal">
            <Button
              look="button--transparent"
              :text="$t('pages.upload.button_copy')"
              :icon="clipboardIcon"
              @trigger="copyText(textUpload)"
              class="entry-button"
            />
          </div>
        </div>
      </code>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue'
import { updateClipboard } from '@/utils/copyToClipboard'
import Button from '@/components/Button.vue'
let uploadIsCopied = ref<boolean>(false)

defineProps({
  textUpload: { type: String, default: '' },
  textInstall: { type: String, default: '' }
})
const clipboardIcon = computed((): string =>
  uploadIsCopied.value ? 'bi bi-clipboard-check-fill' : 'bi bi-clipboard-plus'
)
async function copyText(text: string): Promise<void> {
  uploadIsCopied.value = await updateClipboard(text)
  setTimeout(function () {
    uploadIsCopied.value = false
  }, 1000)
}
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  align-items: center;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  background-color: var(--grey);
  padding-left: 0.5rem;
  height: 3rem;
  width: 100%;
}
.editor {
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  background-color: var(--black-pale);
  height: 32rem;
  width: 100%;
  position: relative;
}
.screen {
  padding: 3rem 2rem 2rem;
  height: 100%;
}
.screen:nth-child(2n) {
  border-top: 2px solid white;
}
.upload-command {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.entry-button-terminal {
  margin-top: 2rem;
  margin-left: auto;
}
.code {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--white);
  @include text(s-regular);
}
.tilde {
  color: var(--green);
  margin-right: 1rem;
}
.round {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  margin: 0.5rem;
}
.red {
  background-color: var(--red);
}
.yellow {
  background-color: var(--yellow);
}
.green {
  background-color: var(--green);
}

@media (max-width: 500px) {
  .editor {
    min-height: 27rem;
  }
  .upload-command {
    margin-top: 0;
  }
}
</style>
