<template>
  <div :class="['toast-wrapper', look, { display: text.length }]">
    <button class="button-close" @click="$emit('trigger')">
      <i class="bi bi-x"></i>
    </button>
    <i v-if="look === 'error'" class="bi bi-exclamation-triangle"></i>
    <i v-else class="bi bi-check-circle"></i>
    <p v-if="text.length" class="toast-text">
      {{ text }}
    </p>
  </div>
</template>

<script lang="ts" setup>
defineProps({
  text: { type: String, default: '' },
  look: {
    type: String,
    validator: (value: string): boolean =>
      ['success', 'error', ''].includes(value),
    default: ''
  }
})
</script>

<style lang="scss" scoped>
.toast-wrapper {
  position: fixed;
  right: 0;
  bottom: 2rem;
  transform: translateX(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  @include text(s-regular);
  border-radius: 0.5rem;
  height: 4rem;
  min-width: 10rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
.button-close {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  height: 1.8rem;
  width: 1.8rem;
  border: 0.1rem solid var(--black);
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toast-text {
  margin-bottom: 0;
  margin-left: 1rem;
}
.display {
  transform: translateX(-3rem);
  transition: transform 0.3s ease-in-out;
}
.error {
  background-color: var(--red);
}
.success {
  background-color: var(--green);
}
</style>
