@mixin text($size) {
  @if $size == h1 {
    font-weight: normal;
    font-size: 4rem;

    @media (max-width: 500px) {
      font-size: 2.6rem;
    }
  }
  @if $size == h2 {
    font-weight: normal;
    font-size: 2rem;

    @media (max-width: 500px) {
      font-size: 1.8rem;
    }
  }
  @if $size == h4 {
    font-weight: normal;
    font-size: 1.6rem;
  }
  @if $size == m-regular {
    font-size: 1.6rem;
    font-weight: normal;
  }
  @if $size == m-r-regular {
    font-size: 1.6rem;
    font-weight: normal;
    @media (max-width: 500px) {
      font-size: 1.2rem;
    }
  }
  @if $size == s-regular {
    font-size: 1.4rem;
    font-weight: normal;
  }
  @if $size == xs-r-regular {
    font-size: 1.2rem;
    font-weight: normal;
    @media (max-width: 500px) {
      font-size: 1rem;
    }
  }
  @if $size == xss-regular {
    font-size: 0.9rem;
    font-weight: normal;
  }
}
