html {
  font-size: 62.5%; /* 1rem = 10px */
  height: -webkit-fill-available;
}
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}
#app {
  min-height: 100vh;
  width: 100%;
  overflow: auto;
}

ul,
ol,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --white: #ffffff;
  --black: #181818;
  --black-pale: #1b1a17;
  --red: #f70000;
  --grey: #e6e6e6;
  --grey-pale: #cfd2cf;
  --grey-semi-dark: #808080;
  --grey-dark: #54595e;
  --blue: #4945ff;
  --blue-geovisio: #34495e;
  --blue-semi: rgba(207, 226, 255, 0.5);
  --blue-pale: #f9fafd;
  --beige: #f5f3ec;
  --yellow: #fec868;
  --orange: #ff6f00;
  --green: #59ce8f;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
@media (max-width: 500px) {
  @supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
    body {
      min-height: -webkit-fill-available;
      min-height: moz-available;
      min-height: fill-available;
    }
  }
}
