<script setup lang="ts">
import Header from '@/components/Header.vue'
import { RouterView } from 'vue-router'
import { useMeta } from 'vue-meta'
import { useI18n } from 'vue-i18n'
import title from '@/utils/index'
import authConfig from './composables/auth'
const { authConf } = authConfig()
const { t } = useI18n()

useMeta({
  title: title(t('general.title')),
  og: {
    title: title(t('general.meta.title')),
    description: title(t('general.meta.description'))
  },
  twitter: {
    title: title(t('general.meta.title')),
    description: title(t('general.meta.description'))
  }
})
</script>

<template>
  <metainfo>
    <template v-slot:title="{ content }">{{ content }}</template>
  </metainfo>
  <Header
    v-if="authConf.user_profile"
    :auth-enabled="authConf.enabled"
    :user-profile-url="authConf.user_profile.url"
  />
  <RouterView />
</template>
<style scoped></style>
